<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>VRARV1</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <resource-file src="www/targets/CustomData.xml" target="assets/CustomData.xml" />
        <resource-file src="www/targets/CustomData.dat" target="assets/CustomData.dat" />
    </platform>
    <engine name="android" spec="~6.3.0" />
    <engine name="ios" spec="~4.5.3" />
</widget>
